form {
  padding: 10px;
}

.Messages {
  height: calc(100vh - 205px);
  overflow: auto;
  position: relative;
}

.Message {
  padding: 5px 20px;
}

.Active-AutoScroll-Button {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}

.Active-AutoScroll-Button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Active-AutoScroll-Button:hover span {
  display: none;
}

.Active-AutoScroll-Button:hover:before {
  cursor: pointer;
  content: "Voir les nouveaux messages" !important;
  padding: 10px !important;
}

.Input-Message {
  position: relative;
}

.Prime {
  position: absolute;
  top: 3.5px;
  left: 3.5px;
}

.Emoji {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  max-height: 30px !important;
}

input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #737373;
  padding: 10px 40px;
  box-sizing: border-box;
}

input:hover {
  box-shadow: 0 0 0 2px #737373;
}

input:focus {
  box-shadow: 0 0 0 3px #9146ff;
}

.Username {
  font-weight: 500;
}

.Bottom-Input-Message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.Right-Bottom-Input-Message {
  display: flex;
}

.Chat-Button {
  background-color: #9146ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  padding: 0 10px;
  margin-left: 5px;
}

.Chat-Button:hover {
  cursor: pointer;
  background-color: #772ce8;
}

.Points-Content {
  display: flex;
  align-items: center;
}

.Points {
  margin: 0;
  font-weight: 600;
  margin-right: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.Points:hover {
  cursor: pointer;
  background-color: #e3e3e6;
}

.Points-Button {
  border: none;
  background-color: #00db84;
  border-radius: 4px;
}

.Points-Button-Icon {
  height: 20px;
  width: 20px;
}

.Points-Button:hover {
  cursor: pointer;
  background-color: #a8ffdc;
}

h6 {
  margin: 0;
  padding: 10px;
  color: grey;
}
